# Ignore Git history
.git
.gitignore

# Ignore Virtual Environment
venv
.venv
env
.env

# Ignore Python cache
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore Editor settings
.vscode
.idea

# Ignore Unnecessary Project Files
LICENSE
README.md
notebooks