# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
env/

# Jupyter notebooks
.ipynb_checkpoints/

# Environment variables
.env

# Editor settings
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
